<%= if logged_in?(@conn) do %>
<div id='message-list' class='row'>
</div>
<div class='row form-group'>
  <div class='col-md-3'>
    <input type='text' id='name' class='form-control' placeholder='Name' />
  </div>
  <div class='col-md-9'>
    <input type='text' id='message' class='form-control' placeholder='Message' />
  </div>
</div>
<% else %>
  <div id='message-list' class='row'>
    <h1>Please log in before you use the GA - NY local chat room :)</h1>
  </div>
<% end %>
